.sidebar {
    padding: 16px;
    border-radius: 20px;
    height: fit-content;
    background-color: var(--background-secondary-color);
}

.title {
    margin: 0;
    padding-bottom: 16px;
    font: var(--text-font);
}
